.root {
  position: relative;
  left: -30px;

  input {
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px 35px;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
